<ngb-accordion #acc="ngbAccordion">
  <div *ngIf="node.children.length > 0">
    <ngb-panel [title]="childNode.name" *ngFor="let childNode of node.children; let i = index">
      <ng-template ngbPanelContent>
        <!-- Set Times -->
        <div class="time">
          <p>Start Date</p>
          <input type="text" [value]="childNode.timestamp.start" #start/>
          <button class="border-button" (click)="editStart(start.value)">Edit</button>
        </div>

        <div class="time">
          <p>End Date</p>
          <input type="text" [value]="childNode.timestamp.end" #end/>
          <button class="border-button" (click)="editEnd(end.value)">Edit</button>
        </div>

        <!-- Set Bounds -->
        <div class="bound">
          <p>Lower Bound for Random Numbers</p>
          <input type="text" [value]="lowerBound" #lower/>
          <button class="border-button" (click)="editLowerBound(lower.value)">Edit</button>
        </div>

        <div class="bound">
          <p>Upper Bound for Random Numbers</p>
          <input type="text" [value]="upperBound" #upper/>
          <button class="border-button" (click)="editUpperBound(upper.value)">Edit</button>
        </div>

        <!-- Generate Random Numbers -->
        <div class="generate">
          <p>Add Random Factories</p>
          <input type="text" placeholder="Number of Randoms" [value]="childNode.children.length" #count/>
          <button class="border-button" (click)="generateRandoms(count.value, childNode, $event)">Add Random Factories</button>
          <button class="border-button remove-factory" (click)="removeAllFactories(childNode, tree.root)">Remove All</button>
        </div>

        <!-- Controls -->
        <div class="controls">
          <input placeholder="Name" #enteredName />
          <button class="border-button add-factory" (click)="addFactory(enteredName.value, childNode, $event)">Add Single Named Factory</button>
          <button class="border-button remove-factory" (click)="removeFactory(childNode, tree.root)">Remove By Name</button>
        </div>

        <!-- Recursive call to Factory Component -->
        <factory [tree]="tree" [node]="childNode" *ngIf="childNode.children"></factory>
      </ng-template>
    </ngb-panel>
  </div>
</ngb-accordion>
