/** BUTTONS DEFAULTS **/
@mixin standard-button() {
    position: relative;
    background: $green;
    color: $white;
    padding: $pad $pad*1.5;
    border-radius: 5px;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: inline-block;
    cursor: pointer;

    .shim {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .icon {
        margin-left: $pad;
    }

    &:hover {
        background: $green-dark;
        transition: all ease 0.2s;
    }
}

@mixin border-button() {
    @include standard-button();
    background: transparent;
    color: $green;
    border: 1px solid $green;
    z-index: 1;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        transition: width 0.2s;
        background: $green;
        z-index: -1;
    }

    &:hover {
        color: $white;
        background: transparent;
        transition: all ease 0.2s;

        &::before {
            width: 100%;
        }
    }
}

@mixin light-button() {
    @include standard-button();
    background: transparent;
    color: $white;
    border: 1px solid $white;
    z-index: 1;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        transition: width 0.2s;
        background: $white;
        z-index: -1;
    }

    &:hover {
        color: $green;
        background: transparent;
        transition: all ease 0.2s;

        &::before {
            width: 100%;
        }
    }
}

@mixin gold-button() {
    @include light-button();
    color: $gold;
    border-color: $gold;
    z-index: 1;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        transition: width 0.2s;
        background: $gold;
        z-index: -1;
    }

    &:hover {
        color: $white;
        background: transparent;
        transition: all ease 0.2s;

        &::before {
            width: 100%;
        }
    }
}
