/** COLORS **/

// Standard
$black: #1E1E24;
$white: #F2ECE3;

// Programatic Shades of Gray
$gray: #bfbfbf;
$gray-light: #f1f1f1;
$gray-lighter: lighten($gray, 50%);
$gray-dark: darken($gray, 10%);

// Project Specific
$rust: #3C1518;
$rust-lighter: lighten($gray, 50%);
$rust-dark: darken($gray, 10%);

$divider: $gray;
$highlight: #edff86;

/** LAYOUT **/

// Standard Padding
$pad: 10px;
// set based on project
$v: $pad*2;
$h: $pad*1;

/** LAYOUT MIXINS **/
$admin-header-height: 50px;

@mixin flexbox($d, $w, $j, $a) {
    display: flex;
    flex-direction: $d;
    flex-wrap: $w;
    justify-content: $j;
    align-items: $a;
}

/** Positioning: z-index **/
$bottom: -10;
$back: -1;
$base: 0;
$middle: 1;
$front: 2;
$top: 10;

$z-layers: (
    'bottom': $bottom,
    'back': $back,
    'base': $base,
    'middle': $middle,
    'front': $front,
    'top': $top,

    'modal': (
        'tooptip': 5002,
        'content': 5001,
        'overlay': 5000
    ),

    'admin-header': 6000
);

@function z($layer) {
    @return map-get($z-layers, $layer);
}

/** USAGE
 ** reference: https://www.sitepoint.com/better-solution-managing-z-index-sass/

   z-index: z('top');

   or

   z-index: z('modal', 'content');

**/

$admin-header-height: 40px;
