@import '../core-styles/styles';

.tree {
  margin: $pad*2;

  .heading {
    margin: $pad*2 0;
  }

  .accordion-wrapper {
    box-shadow: 5px 5px 5px rgba(0, 0 ,0 , 0.2);

    .controls {
      position: relative;
      width: 100%;
      height: $pad*5;
      margin: $pad*2 0;

      input,
      button {
        height: 100%;
        margin-right: $pad;
        border-radius: 5px;
      }
    }
  }
}
