<div class="tree">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel [title]="tree.root.name">
      <ng-template ngbPanelContent>

        <!-- Controls -->
        <input placeholder="Name" #enteredName />
        <button class="button add-factory" (click)="addFirstFactory(enteredName.value)">Add</button>

        <!-- Children (recursive) -->
        <factory [tree]="tree" [node]="tree.root"></factory>

      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
