<div class="tree">

  <div class="heading">
    <h1 class="title">Coding Challenge: Tree Structure</h1>
    <p>This is a tree structure visualization made with Angular and Bootstrap. It uses a tree service to define the structure and manage the state of the tree. Then it uses a component called Factory to display the nodes in the tree recursively.</p>
    <a class="button github" href="https://github.com/19TT94/tree" target="_blank">View on Github</a>
  </div>

  <div class="accordion-wrapper">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel [title]="tree.root.name">
        <ng-template ngbPanelContent>

          <!-- Controls -->
          <div class="controls">
            <input placeholder="Enter Name" #enteredName />
            <button class="button add-factory" (click)="addFirstFactory(enteredName.value, $event)">New Factory</button>
          </div>

          <!-- Children (recursive) -->
          <factory [tree]="tree" [node]="tree.root"></factory>

        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
